<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <fieldset> 
        <legend>POST</legend>
   <form   action="/comment" method="POST">
 
    <input placeholder="Enter your user" name="username"/>
    <br>
    <br>
    <input placeholder="Enter your comment" name="comment"/>
    <br>
    <br>

    <button  type="submit" >save</button>
   </form>
</fieldset>

</body>
</html>